body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.box-color {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#box {
  border: 1px solid black;
  width: 150px;
  background-color: pink;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
