body{
  display: flex;
  justify-content: center;
}

#box{
  border: 1px solid black;
  width: 150px;
  background-color: pink;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}